private:"0"
public:"0"
protected:"0"
new:"0"
void:"0"
static:"0"
import:"0"
int:"0"
float:"0"
char:"0"
boolean:"0"
double:"0"
if:"0"
else:"0"
break:"0"
continue:"0"
case:"0"
switch:"0"
extends:"0"
implements:"0"
throws:"0"
catch:"0"
throw:"0"
try:"0"
while:"0"
for:"0"
return:"0"
class:"0"
'+':"1"
'-':"1"
'/':"1"
'*':"1"
'=':"2"
'==':"3"
'!=':"3"
'<=':"3"
'>=':"3"
'{':"4"
'}':"4"
'(':"4"
')':"4"
'[':"4"
']':"4"
'&&':"5"
'||':"5"
';':"6"

