<HTML>:Open HTML Element
</HTML>:Close HTML Element
<HEAD>:Open HEAD Element
<HEAD:Open HEAD Element
</HEAD>:Close HEAD Element
<TITLE>:Open TITLE Element
</TITLE>:Close TITLE Element>
<BODY>:Open BODY Element
<BODY:Open BODY Element
</BODY>:Close BODY Element
<P>:Open P Element
</P>:Close P Element
<A>:Open A Element
<A:Open A Element
</A>:Close A Element
>:Close Element
profile:Reserved word
href:Reserved word
class:Reserved word
title:Reserved word